@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

/* Root */

:root {
  /* primary */
  --primary-100: #ccdad9;
  --primary-200: #99b5b4;
  --primary-300: #66908e;
  --primary-400: #336b69;
  --primary-500: #004643;
  --primary-600: #003836;
  --primary-700: #002a28;
  --primary-800: #001c1b;
  --primary-900: #000e0d;

  /* secondary */
  --secondary-100: #eef6f4;
  --secondary-200: #ddede8;
  --secondary-300: #cde3dd;
  --secondary-400: #bcdad1;
  --secondary-500: #abd1c6;
  --secondary-600: #89a79e;
  --secondary-700: #677d77;
  --secondary-800: #44544f;
  --secondary-900: #222a28;

  /* button */
  --btn-primary: var(--primary-500);

  /* grey */
  --grey-50: #f9fafb;
  --grey-100: #f3f4f6;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #1f2937;
  --grey-900: #111827;

  /* Rest of Colours */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* Fonts */
  --headingFont: 'Roboto Condensed', sans-serif;
  --bodyFont: 'Mulish', sans-serif;
  --smallText: 1.25em;
  --maxCharWidth: 45em;

  /* Rest of Varibales */
  --backgroundColor: var(--white);
  --textColor: var(--primary-700);
  --backgroundColorSnd: var(--secondary-500);
  --textColorSnd: var(--prinary-900);
  --borderRadius: 0.5rem;
  --letterSpacing: -0.022em;
  --transition: all 0.3s linear;
  --max-width: 1170px;
  --view-width: 90vw;
  --fixed-width: 900px;
  --navHeight: 3.5rem;

  /* Box Shadow */
  --shadow-1: 0 1px 3px 0 rgb(104, 104, 104), 0 1px 2px -1px rgb(104, 104, 104);
  --shadow-2: 0 4px 0px 0px rgba(207, 127, 23, 0.842), 0px 0px 10px 2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 6px 0px 0px rgba(207, 127, 23, 0.842), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  /* --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); */
  --shadow-4: 0 2px 5px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
/* End of Root */

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 500;
  line-height: 1.25rem;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  /* max-width: var(--maxCharWidth); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: var(--letterSpacing);
  /* text-transform: capitalize; */
}

h1 {
  margin-top: 0;
  font-size: 4.25rem;
}
h2 {
  font-size: 3.25rem;
}
h3 {
  font-size: 2.65rem;
}
h4 {
  font-size: 1.975rem;
}
h5 {
  font-size: 1.623rem;
}
h6 {
  font-size: 1.35rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

a {
  font-size: 0.85rem;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

svg {
  vertical-align: middle;
}

.container-img {
  /* box-shadow: var(--shadow-4); */
  overflow: hidden;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* buttons */

.button-container {
  padding-bottom: 0.25rem;
}

.btn-container {
  margin: 0rem 0 4rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  position: sticky;
}

.btn {
  cursor: pointer;
  background: var(--btn-primary);
  color: var(--grey-100);
  font-weight: 700;
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  transition: var(--transition);
  padding: 0.5rem 1.25rem;
  display: inline-block;
}

.btn:hover {
  background-color: var(--secondary-500);
  color: var(--grey-900);
  /* box-shadow: var(--shadow-3); */
}

.btn-hipster {
  color: var(--grey-900);
  background: orange;
  border: transparent;
  border: 0px solid var(--grey-400);
}

.btn-hipster:hover {
  color: var(--grey-100);
  background: var(--primary-500);
}

.btn-block {
  width: 100%;
}

.none {
  opacity: 0;
}

.btn-top {
  display: block;
  position: fixed;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  right: 3rem;
  bottom: 3rem;
  z-index: 1;
  border: none;
  border-radius: 50%;
  color: var(--secondary-500);
  background: var(--primary-500);
  transition: var(--transition);
}

.btn-top:hover {
  color: var(--primary-500);
  background: var(--btn-primary);
}

/* alerts */

.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}

.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

/* form */

.form {
  /* width: 80vw; */
  max-width: var(--fixedWidth);
  background: var(--grey-200);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  color: var(--primary-500);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}

.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--grey-50);
  border: 2px solid var(--primary-900);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

/* loading */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 2px solid var(--grey-50);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}

.loading {
  margin: 0 auto;
}

/* title */

.title {
  text-align: center;
  letter-spacing: var(--letterSpacing);
}

/* .title h2 {
  margin-bottom: 0.25rem;
} */

.title-underline {
  background: var(--secondary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}

.section-center {
  width: 80vw;
  margin: 5rem auto 0 auto;
}

.flex {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}

/* Project CSS */

.page {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  /* padding: 5rem 1rem; */
  min-height: calc(100vh - (5.625rem + 3rem));
}

.page-container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 5rem 2rem;
}

.page-footer {
  height: 3rem;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.page-footer p {
  margin-bottom: 0;
  color: var(--primary-200);
}

.footer-logo {
  color: var(--white);
}

/* @media (min-width: 430px) {
  .page {
    width: var(--view-width);
    max-width: var(--max-width);
    padding: 5rem 2rem;
  }
} */
